* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.23);
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(14px, -6px) scale(0.75);
    background-color: #fff; /* This should match your background */
    padding: 0 4px;
}